node_modules

dist

.next

out

build

coverage

.git

.gitignore

.env

.env.*

!.env.example

*.md

!README.md

.vscode

.idea

*.log

npm-debug.log*

pnpm-debug.log*

yarn-debug.log*

yarn-error.log*